@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;   
}

a {
    text-decoration: none;
}

.purple {
    color: #6415ff;
}

/* LANDING */



nav {
    margin: 24px 32px;
    position: relative;
}

.row__nav {
    display: flex;
    justify-content: space-between;
    color: #243e63;
    height: 100px;
    padding: 0 24px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--img {
    width: 80px;
    height: 80px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: bold;
}

.nav_links {
    display: flex;
    padding: 8px;
    margin-right: 16px;
    justify-content: space-around;
    align-items: center;
}

.nav__link {
    margin-left: 16px;
    font-size: 14px;
}

li {
    list-style: none;
}

.nav__link--primary {
    border-radius: 9999px;
    background-color: #6415ff;
    color: #fff;
    padding: 10px 32px;
    list-style: none;
    line-height: 1.5;
    font-weight: 500;
}

.btn__menu {
    position: absolute;
}

.container {
    padding: 96px 0;
}

.row {
    display: flex;
}
h1 {
    text-align: center;
    margin: 16px;
}

.header__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__description--para {
    margin: 16px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}

.header__customers--title {
    margin-bottom: 16px;
}

.header__email--input {
    width: 100%;
    border: 2px solid rgb(229,231,253);
    border-radius: 500px;
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    z-index: 1;
}

.header__email--btn {
    z-index: 2;
    background-color: #6415ff;
    font-size: 20px;
    margin: 8px;
    height: 75%;
    border-radius: 500px;
    width: 160px;
    border: none;
    color: #fff;
    font-weight: 700;

}
.header__img {
    width: 100%;
    padding-left: 24px;
}

.header__customers {
    width: 100%;
    padding-right: 64px;
}

.header__customers{
    opacity: .5;
}

/* FEATURES */

#features {
    position: relative;
}

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    margin-bottom: 16px;
}

.section__title {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
}

.section__para {
    margin: 0 16px 16px 16px;
    line-height: 1.5;
    color: rgb(124, 139, 161);
}

.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
}

.feature__row {
    width: calc(100% / 3);
    padding: 16px 32px;
    display: flex;
}

.feature__img--wrapper {
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    padding:20px;
    height: 11vh;
    margin-right: 8px;
}

.feature__title {
    color: #243e63;
    margin-bottom: 16px;

}

.feature__para {
    color: rgb(124, 139, 161);
    line-height: 2;
}


/* QUALITY */

.quality__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__desription {
    display: flex;
    flex-direction: column;
    padding: 0 48px 0 0;
}

.section__tag {
    margin: 0 16px 0 16px;
}

.section__title {
    margin: 16px 16px;
}

.quality__btn {
    background-color: #6415ff;
    font-size: 16px;
    margin: 8px;
    height:13%;
    border-radius: 500px;
    width: 160px;
    border: none;
    color: #fff;
    font-weight: 700;
}


.quality__img--wrapper {
    position: relative;
}

.quality__img {
    width: 100%;
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}


/* STEPS */

.steps__img--wrapper {
    position: relative;
}

.steps__img {
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0 48px;
}

.steps__grid {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: 0;
    color: rgba(99, 21, 255, 0.228);
    fill: currentColor;
}

.step__discription {
    display: flex;
    flex-direction: column;
}

.steps__list {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


