@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;   
}

a {
    text-decoration: none;
}

.purple {
    color: #6415ff;
}

/* LANDING */



nav {
    margin: 24px 32px;
    position: relative;
}

.row__nav {
    display: flex;
    justify-content: space-between;
    color: #243e63;
    height: 100px;
    padding: 0 24px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--img {
    width: 80px;
    height: 80px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: bold;
}

.nav_links {
    display: flex;
    padding: 8px;
    margin-right: 16px;
    justify-content: space-around;
    align-items: center;
}

.nav__link {
    margin-left: 16px;
    font-size: 14px;
}

li {
    list-style: none;
}

.nav__link--primary {
    border-radius: 9999px;
    background-color: #6415ff;
    color: #fff;
    padding: 10px 32px;
    list-style: none;
    line-height: 1.5;
    font-weight: 500;
}

.btn__menu {
    position: absolute;
}

.container {
    padding: 96px 0;
}

.row {
    display: flex;
}
h1 {
    text-align: center;
    margin: 16px;
}

.header__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__description--para {
    margin: 16px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}

.header__customers--title {
    margin-bottom: 16px;
}

.header__email--input {
    width: 100%;
    border: 2px solid rgb(229,231,253);
    border-radius: 500px;
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    z-index: 1;
}

.header__email--btn {
    z-index: 2;
    background-color: #6415ff;
    font-size: 20px;
    margin: 8px;
    height: 75%;
    border-radius: 500px;
    width: 160px;
    border: none;
    color: #fff;
    font-weight: 700;

}
.header__img {
    width: 100%;
    padding-left: 24px;
}

.header__customers {
    width: 100%;
    padding-right: 64px;
}

.header__customers{
    opacity: .5;
}

/* FEATURES */

#features {
    position: relative;
}

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    margin-bottom: 16px;
}

.section__title {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    text-align: center;
}

.section__para {
    margin: 0 16px 16px 16px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

